* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bangers');


html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Bangers', cursive;
  background-color: blue;
}
